<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ak.mealplanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.example.ak.mealplanner.Activities.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.ak.mealplanner.Activities.MainActivity"
            android:label="CAMP"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.example.ak.mealplanner.Activities.profile"
            android:label="About"
            android:parentActivityName="com.example.ak.mealplanner.Activities.MainActivity" />
        <activity
            android:name="com.example.ak.mealplanner.Activities.Favorites"
            android:label="Favorites"
            android:parentActivityName="com.example.ak.mealplanner.Activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.ak.mealplanner.Activities.EditProfile"
            android:label="Profile"
            android:parentActivityName="com.example.ak.mealplanner.Activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.ak.mealplanner.Activities.Goals"
            android:label="Goals"
            android:parentActivityName="com.example.ak.mealplanner.Activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.ak.mealplanner.Activities.FoodActivity"
            android:label="Item"
            android:parentActivityName="com.example.ak.mealplanner.Activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.ak.mealplanner.Activities.Results"
            android:label="Recommendation"
            android:parentActivityName="com.example.ak.mealplanner.Activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.ak.mealplanner.Activities.Cart"
            android:label="Cart"
            android:parentActivityName="com.example.ak.mealplanner.Activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.ak.mealplanner.Activities.FirstStartActivity"
            android:label="CAMP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ak.mealplanner.Activities.RecipeBuildActivity"
            android:label="Recipe Builder"
            android:parentActivityName="com.example.ak.mealplanner.Activities.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.example.ak.mealplanner.Activities.RecipeActivity"
            android:label="Recipe Item"
            android:parentActivityName="com.example.ak.mealplanner.Activities.RecipeBuildActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.ak.mealplanner.Activities.RecipeSaveActivity"
            android:label="Save Recipe"
            android:parentActivityName="com.example.ak.mealplanner.Activities.RecipeBuildActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.ak.mealplanner.Activities.UserRecipeActivity"
            android:label="Recipe"
            android:parentActivityName="com.example.ak.mealplanner.Activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.ak.mealplanner.Activities.LoginActivity"
            android:label="Login"
            android:parentActivityName="com.example.ak.mealplanner.Activities.FirstStartActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>